.overlay {
   position: absolute;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.label {
}

.btn {
   display: inline-block;
   position: relative;
   padding: 0.5rem 0.75rem;
   opacity: 0.65;
   z-index: 5;
   background: rgb(226, 226, 226);
   cursor: pointer;
}

.btn:hover {
   opacity: 1;
}

.form {
}

.msg {
   display: flex;
   position: relative;
   z-index: 10;
}

.group_btn {
   display: flex;
   align-items: center;
   padding: 0.25rem 0.5rem;
   background: rgb(248, 248, 248);
}

.buttons {
   display: flex;
   align-items: center;
   gap: 0.25rem;
   margin-left: 0.25rem;
}
