.form_cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1.5rem;
}

.form {
   max-width: 400px;
   width: 100%;
}
.button {
   padding-top: 0.875rem;
}

.alert_text {
}

.alert_link {
   padding: 0 0.25rem;
   color: rgba(38, 167, 6, 0.514);
   font-weight: bold;
   text-decoration: underline;
}
